.body{
    background-color: green;
    width: 50px;
    height: 50px;
    border: 1px solid black;

}
.manzana{
    background-color: red;
    width: 50px;
    height: 50px;
    border: 1px solid black;
}
.cuadradito{
    background-color: rgb(43, 7, 49);
    width: 50px;
    height: 50px;
    border: 1px solid black;
}